<header
    class="sticky w-full flex justify-between items-center bg-white text-gray-950 top-0 left-0 px-8 py-4 mb-8 border border-b-gray-200">
    <h1 class="text-teal-900 font-bold text-xl">
        <button hx-get="/" hx-target="#body-content">
            AfM
        </button>
    </h1>
    <ul class="flex gap-4 text-gray-700">
        <li>
            <button>
                Pricing
            </button>
        </li>
        <li>
            <button>
                Story
            </button>
        </li>
    </ul>
    <div>
        <button hx-get="/login" hx-target="#body-content"
            class="transition text-teal-50 bg-teal-600 hover:bg-teal-500 px-4 py-2 rounded">Log in</button>
    </div>
</header>