<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="login-modal">
    <div class="fixed top-0 left-0 w-screen h-screen overflow-hidden z-10 bg-gray-500 bg-opacity-75 transition-opacity"
        onclick="removeLoginModal()"></div>

    <div class="fixed z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full max-w-lg bg-gray-50 p-4 flex flex-col gap-2"
        hx-ext="response-targets">
        <form id="create-user-form" hx-post="/login" hx-trigger="submit" hx-target="body" hx-target-401="#login-error"
            hx-swap="innerHTML" hx-push-url="true" class="flex flex-col gap-2">
            <div id="login-error"></div>
            <div>
                <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
                <input type="text" name="username" id="username" autocomplete="username"
                    class="block flex-1 border border-gray-200 w-full py-1.5 pl-2 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                    placeholder="Enter your username">
            </div>
            <div>
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                <input type="password" name="password" id="password"
                    class="block flex-1 border border-gray-200 w-full py-1.5 pl-2 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                    placeholder="Enter your password">
            </div>
            <div class="w-full flex flex-row-reverse gap-2">
                <button type="submit"
                    class="transition rounded-md bg-emerald-600 px-3 py-2 text-sm font-semibold text-gray-50 hover:bg-emerald-500">Save</button>
                <button type="button"
                    class="transition rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                    onclick="removeLoginModal()">
                    Cancel
                </button>
        </form>
    </div>
</div>

<script>
    document.getElementById('create-user-form').addEventListener('htmx:afterRequest', function (event) {
        if (event.detail.failed)
            document.getElementById('login-error').innerHTML = event.detail.xhr.response;
    });

    function removeLoginModal() {
        document.getElementById('login-modal').remove();
    }
</script>